html, body {
  height: 100%;
  margin: 0;
}
#map {
  width: 600px;
  height: 400px;
}

#add-pin-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
}
.add-pin-button--active {
  background-color: rgb(141, 191, 204);
}

.imgEdit img{
  position:relative;
  width: 30px;
  height: 30px;
  left:0px;
  top:0px;
}

.imgEdit2 img{
  position:relative;
  width: 25px;
  height: 25px;
  left:0px;
  top:2px;
}
.imgEdit3 img{
  width: 200px;
  height: 200px;
  left:18px;
  top:-20px;
}

#navigate-button{
  position: absolute;
  bottom: 140px;
  right: 10px;
  z-index: 1000;
}

.navigate-button--active {
  background-color: rgb(141, 191, 204);
}
#choose-filter-button {
  position: absolute;
  bottom: 75px;
  right: 10px;
  z-index: 1000;
}
#like-button {
  position: absolute;
  bottom: 75px;
  right: 10px;
  z-index: 1000;
}
#dislike-button {
  position: absolute;
  bottom: 75px;
  right: 60px;
  z-index: 1000;
}


.dialog {
  z-index: 1000;
  position: absolute;
  top: 100px;
  left: 100px;
}

body { padding: 0; margin: 0; } #map { height: 100%; width: 100vw; }

button{
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

#close-image img {
  width: 100%;
  height: auto;

}
pio{
     font-size: 125%;
     font-weight: bold;
     color: #181615;
   }

.example-1 {
  
  /* Adds a white border around the button, along with a blue glow. The white and blue have a color contrast ratio of at least 3:1, which means this will work against any background color. */
  box-shadow: 0 0 0 2px #ffffff, 0 0 3px 5px #3a97f9;
  
  /* NOTE: box-shadow is invisible in Windows high-contrast mode, so we need to add a transparent outline, which actually does show up in high-contrast mode. */
  outline: 2px dotted transparent;
  outline-offset: 2px;
}

//stam
.social-like, .social-dislike {
    border: none;
    outline: none;
    font-size: 16px;
    /*width: 48%;*/
    background-color: #03A9F4;
    color: #fff;
}

.social-like {
    border-top-left-radius: 5px;
}

.social-dislike {
    border-top-right-radius: 5px;
}

.count, .like, .dislike {
    padding:10px;
}

.count, .dislike {
    background-color: #03A9F4;
    border-radius: 50%;
    font-size:12px;
}

.dislike {
    margin-left: -13px;
}

.count {
    margin-right: -10px;
}